KiiniHelp/Service References/ServiceTicket/ServiceTicket2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperCampoMascaraCaptura" nillable="true" type="tns:ArrayOfHelperCampoMascaraCaptura" />
  <xs:complexType name="HelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
</xs:schema>