KiiniHelp/Service References/ServiceTicket/ServiceTicket2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:complexType name="ArrayOfHelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperCampoMascaraCaptura" nillable="true" type="tns:ArrayOfHelperCampoMascaraCaptura" />
  <xs:complexType name="HelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
  <xs:complexType name="ArrayOfHelperTickets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperTickets" nillable="true" type="tns:HelperTickets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperTickets" nillable="true" type="tns:ArrayOfHelperTickets" />
  <xs:complexType name="HelperTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsPropietario" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacion" nillable="true" type="q1:EstatusAsignacion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicket" nillable="true" type="q2:EstatusTicket" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrupoAsignado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGrupoAsignado" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioAsignado" type="xs:int" />
      <xs:element minOccurs="0" name="NivelUsuarioAsignado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Tipificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioAsignado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperTickets" nillable="true" type="tns:HelperTickets" />
  <xs:complexType name="HelperDetalleTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsignacionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsignacionesDetalle" nillable="true" type="tns:ArrayOfHelperAsignacionesDetalle" />
      <xs:element minOccurs="0" name="EstatusActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusDetalle" nillable="true" type="tns:ArrayOfHelperEstatusDetalle" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstatusAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperDetalleTicket" nillable="true" type="tns:HelperDetalleTicket" />
  <xs:complexType name="ArrayOfHelperAsignacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperAsignacionesDetalle" nillable="true" type="tns:HelperAsignacionesDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperAsignacionesDetalle" nillable="true" type="tns:ArrayOfHelperAsignacionesDetalle" />
  <xs:complexType name="HelperAsignacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioAsignado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAsigno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperAsignacionesDetalle" nillable="true" type="tns:HelperAsignacionesDetalle" />
  <xs:complexType name="ArrayOfHelperEstatusDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperEstatusDetalle" nillable="true" type="tns:HelperEstatusDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperEstatusDetalle" nillable="true" type="tns:ArrayOfHelperEstatusDetalle" />
  <xs:complexType name="HelperEstatusDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioMovimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperEstatusDetalle" nillable="true" type="tns:HelperEstatusDetalle" />
</xs:schema>