KiiniHelp/Service References/ServiceConsultas/ServiceConsultas15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:complexType name="ArrayOfHelperTickets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperTickets" nillable="true" type="tns:HelperTickets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperTickets" nillable="true" type="tns:ArrayOfHelperTickets" />
  <xs:complexType name="HelperTickets">
    <xs:sequence>
      <xs:element name="_x003C_Asigna_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_CambiaEstatus_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_EsPropietario_x003E_k__BackingField" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusAsignacion_x003E_k__BackingField" nillable="true" type="q1:EstatusAsignacion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusTicket_x003E_k__BackingField" nillable="true" type="q2:EstatusTicket" />
      <xs:element name="_x003C_FechaHora_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GrupoAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IdGrupoAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdImpacto_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuarioAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Impacto_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NivelUsuarioAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NombreUsuario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NumeroTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Total_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuarioAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperTickets" nillable="true" type="tns:HelperTickets" />
  <xs:complexType name="ArrayOfHelperHits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperHits" nillable="true" type="tns:HelperHits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperHits" nillable="true" type="tns:ArrayOfHelperHits" />
  <xs:complexType name="HelperHits">
    <xs:sequence>
      <xs:element name="_x003C_FechaHora_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_IdHit_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NombreUsuario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NumeroHit_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Total_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperHits" nillable="true" type="tns:HelperHits" />
</xs:schema>