KiiniHelp/Service References/ServiceDiasHorario/ServiceDiasHorario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDiasHorario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceDiasHorario.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDiasHorario_ObtenerHorarioDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorarioDefault" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_ObtenerHorarioDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorarioDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_ObtenerHorarioConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorarioConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_ObtenerHorarioConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorarioConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_CrearHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearHorario" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_CrearHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_Habilitar_InputMessage">
    <wsdl:part name="parameters" element="tns:Habilitar" />
  </wsdl:message>
  <wsdl:message name="IServiceDiasHorario_Habilitar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDiasHorario">
    <wsdl:operation name="ObtenerHorarioDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioDefault" message="tns:IServiceDiasHorario_ObtenerHorarioDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioDefaultResponse" message="tns:IServiceDiasHorario_ObtenerHorarioDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorarioConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioConsulta" message="tns:IServiceDiasHorario_ObtenerHorarioConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioConsultaResponse" message="tns:IServiceDiasHorario_ObtenerHorarioConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDiasHorario/CrearHorario" message="tns:IServiceDiasHorario_CrearHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDiasHorario/CrearHorarioResponse" message="tns:IServiceDiasHorario_CrearHorario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDiasHorario/Habilitar" message="tns:IServiceDiasHorario_Habilitar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDiasHorario/HabilitarResponse" message="tns:IServiceDiasHorario_Habilitar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDiasHorario" type="tns:IServiceDiasHorario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerHorarioDefault">
      <soap:operation soapAction="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorarioConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceDiasHorario/ObtenerHorarioConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearHorario">
      <soap:operation soapAction="http://tempuri.org/IServiceDiasHorario/CrearHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <soap:operation soapAction="http://tempuri.org/IServiceDiasHorario/Habilitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDiasHorario">
    <wsdl:port name="BasicHttpBinding_IServiceDiasHorario" binding="tns:BasicHttpBinding_IServiceDiasHorario">
      <soap:address location="http://localhost:15277/ServiceDiasHorario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>