KiiniHelp/Service References/ServiceGrupoUsuario/ServiceGrupoUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGrupoUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdTipoSubGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdTipoSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRol" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_GuardarGrupoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGrupoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_GuardarGrupoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGrupoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuarioById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuarioById" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuarioById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuarioByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioSistema" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioNivel" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioNivelResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceGrupoUsuario">
    <wsdl:operation name="ObtenerGruposUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdTipoSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupo" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupoResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRol" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRolResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarGrupoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuario" message="tns:IServiceGrupoUsuario_GuardarGrupoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuarioResponse" message="tns:IServiceGrupoUsuario_GuardarGrupoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuario" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuarioById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioById" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuarioById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioByIdResponse" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuarioById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistema" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistemaResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioNivel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivel" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivelResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceGrupoUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerGruposUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdTipoSubGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRol">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarGrupoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuarioById">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioSistema">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioNivel">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGrupoUsuario">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceGrupoUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>