KiiniHelp/Service References/ServiceSistemaCatalogos/ServiceCatalogos8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceCatalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceCatalogos.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
  <xs:element name="CrearCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCatalogo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esMascara" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCatalogoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerCatalogosResult" nillable="true" type="q1:ArrayOfCatalogos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCatalogo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerCatalogoConsultaResult" nillable="true" type="q2:ArrayOfCatalogos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogosMascaraCaptura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogosMascaraCapturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerCatalogosMascaraCapturaResult" nillable="true" type="q3:ArrayOfCatalogos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Habilitar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCatalogo" type="xs:int" />
        <xs:element minOccurs="0" name="habilitado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCatalogo" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRegistroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistrosCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCatalogo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistrosCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerRegistrosCatalogoResult" nillable="true" type="q4:ArrayOfCatalogoGenerico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>