KiiniHelp/Service References/ServiceSistemaPoliticas/ServicePoliticas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePoliticas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePoliticas_EstatusAsignacionSubRolGeneralDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusAsignacionSubRolGeneralDefault" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusAsignacionSubRolGeneralDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusAsignacionSubRolGeneralDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusTicketSubRolGeneralDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusTicketSubRolGeneralDefault" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusTicketSubRolGeneralDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusTicketSubRolGeneralDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusAsignacionSubRolGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusAsignacionSubRolGeneral" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusAsignacionSubRolGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusAsignacionSubRolGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusTicketSubRolGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusTicketSubRolGeneral" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_EstatusTicketSubRolGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusTicketSubRolGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaAsignacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaAsignacion" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaAsignacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaAsignacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaEstatus_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEstatus" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaEstatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePoliticas">
    <wsdl:operation name="EstatusAsignacionSubRolGeneralDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneralDefault" message="tns:IServicePoliticas_EstatusAsignacionSubRolGeneralDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneralDefaultResponse" message="tns:IServicePoliticas_EstatusAsignacionSubRolGeneralDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstatusTicketSubRolGeneralDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneralDefault" message="tns:IServicePoliticas_EstatusTicketSubRolGeneralDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneralDefaultResponse" message="tns:IServicePoliticas_EstatusTicketSubRolGeneralDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstatusAsignacionSubRolGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneral" message="tns:IServicePoliticas_EstatusAsignacionSubRolGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneralResponse" message="tns:IServicePoliticas_EstatusAsignacionSubRolGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstatusTicketSubRolGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneral" message="tns:IServicePoliticas_EstatusTicketSubRolGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneralResponse" message="tns:IServicePoliticas_EstatusTicketSubRolGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaAsignacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacion" message="tns:IServicePoliticas_HabilitarPoliticaAsignacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacionResponse" message="tns:IServicePoliticas_HabilitarPoliticaAsignacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEstatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatus" message="tns:IServicePoliticas_HabilitarPoliticaEstatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatusResponse" message="tns:IServicePoliticas_HabilitarPoliticaEstatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePoliticas" type="tns:IServicePoliticas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstatusAsignacionSubRolGeneralDefault">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneralDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstatusTicketSubRolGeneralDefault">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneralDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstatusAsignacionSubRolGeneral">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/EstatusAsignacionSubRolGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstatusTicketSubRolGeneral">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/EstatusTicketSubRolGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaAsignacion">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEstatus">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePoliticas">
    <wsdl:port name="BasicHttpBinding_IServicePoliticas" binding="tns:BasicHttpBinding_IServicePoliticas">
      <soap:address location="http://localhost:15277/Sistema/ServicePoliticas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>