KiiniHelp/Service References/ServiceSistemaPoliticas/ServicePoliticas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePoliticas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServicePoliticas.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePoliticas_GeneraEstatusAsignacionSubRolGeneralDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneraEstatusAsignacionSubRolGeneralDefault" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_GeneraEstatusAsignacionSubRolGeneralDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneraEstatusAsignacionSubRolGeneralDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusTicketSubRolGeneralDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketSubRolGeneralDefault" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusTicketSubRolGeneralDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketSubRolGeneralDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusAsignacionSubRolGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacionSubRolGeneral" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusAsignacionSubRolGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacionSubRolGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusTicketSubRolGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketSubRolGeneral" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_ObtenerEstatusTicketSubRolGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketSubRolGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaAsignacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaAsignacion" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaAsignacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaAsignacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaEstatus_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEstatus" />
  </wsdl:message>
  <wsdl:message name="IServicePoliticas_HabilitarPoliticaEstatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePoliticas">
    <wsdl:operation name="GeneraEstatusAsignacionSubRolGeneralDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/GeneraEstatusAsignacionSubRolGeneralDefault" message="tns:IServicePoliticas_GeneraEstatusAsignacionSubRolGeneralDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/GeneraEstatusAsignacionSubRolGeneralDefaultResponse" message="tns:IServicePoliticas_GeneraEstatusAsignacionSubRolGeneralDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketSubRolGeneralDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneralDefault" message="tns:IServicePoliticas_ObtenerEstatusTicketSubRolGeneralDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneralDefaultResponse" message="tns:IServicePoliticas_ObtenerEstatusTicketSubRolGeneralDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacionSubRolGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusAsignacionSubRolGeneral" message="tns:IServicePoliticas_ObtenerEstatusAsignacionSubRolGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusAsignacionSubRolGeneralResponse" message="tns:IServicePoliticas_ObtenerEstatusAsignacionSubRolGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketSubRolGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneral" message="tns:IServicePoliticas_ObtenerEstatusTicketSubRolGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneralResponse" message="tns:IServicePoliticas_ObtenerEstatusTicketSubRolGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaAsignacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacion" message="tns:IServicePoliticas_HabilitarPoliticaAsignacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacionResponse" message="tns:IServicePoliticas_HabilitarPoliticaAsignacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEstatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatus" message="tns:IServicePoliticas_HabilitarPoliticaEstatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatusResponse" message="tns:IServicePoliticas_HabilitarPoliticaEstatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePoliticas" type="tns:IServicePoliticas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraEstatusAsignacionSubRolGeneralDefault">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/GeneraEstatusAsignacionSubRolGeneralDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketSubRolGeneralDefault">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneralDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacionSubRolGeneral">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/ObtenerEstatusAsignacionSubRolGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketSubRolGeneral">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/ObtenerEstatusTicketSubRolGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaAsignacion">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/HabilitarPoliticaAsignacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEstatus">
      <soap:operation soapAction="http://tempuri.org/IServicePoliticas/HabilitarPoliticaEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePoliticas">
    <wsdl:port name="BasicHttpBinding_IServicePoliticas" binding="tns:BasicHttpBinding_IServicePoliticas">
      <soap:address location="http://localhost:15277/Sistema/ServicePoliticas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>