KiiniHelp/Service References/ServiceSistemaNotificacion/KiiniNet.Entities.Cat.Sistema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTipoNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoNotificacion" nillable="true" type="tns:TipoNotificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoNotificacion" nillable="true" type="tns:ArrayOfTipoNotificacion" />
  <xs:complexType name="TipoNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TipoNotificacion" nillable="true" type="tns:TipoNotificacion" />
</xs:schema>